{
   "extends": [
      "eslint:recommended",
      "airbnb-base"
   ],
   "env": {
      "node": true,
      "es6": false,
      "browser": true
   },
   "rules": {
      "indent": ["error", 3],
      "no-console": "off",
      "semi": ["error", "never"],
      "no-restricted-syntax": "off",
      "comma-dangle": "off",
      "class-methods-use-this": "off",
      "arrow-parens": "off",
      "no-continue": "off",
      "no-else-return": "off",
      "no-return-await": "off",
      "quote-props": "off",
      "global-require": "off",
      "import/extensions": "off",
      "object-curly-newline": "off",
      "no-underscore-dangle": "off",
      "max-len": ["error", { "code": 120 }]
   }
}
