:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  text-align: center;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;

  transition: all 0.05s ease;
  padding: 4px;
  border-radius: 4px;
}

[data-tooltip]:hover:before {
  opacity: 1;
  z-index: 1919810;

  background: var(--color-hud-bg);
  border: 1px solid var(--color-hud-border);
  color: black;
  font-size: 14px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 50%);
  z-index: 114000;
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border-radius: 4px;
  border: 1px solid #6E665A;
  background-color: #E5BF92;
  z-index: 514000;
  box-sizing: border-box;
}
